<nav id="dynamicNav">
    <ul>
    <%
      for(var createpost of createposts){
        %>
            <li>
                <a href="/display/<%= createpost._id%>"><%= createpost.postTitle %></a>
            </li>
        <%
      }
    %>
    </ul>
</nav>