 <nav class="top_menu">
 <ul>
  <% if(typeof(userLoggedIn) !='undefined' && userLoggedIn == true){%>
    <li><a href="/createpost">Add Post</a></li>
    <li><a href="/displayallpost">View Post</a></li>      
    <li><a href="/logout">Log Out</a></li>
    <%}else{%>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Admin Login</a></li>
      <li><a href="/author">Author</a></li>
    <%}%>
</ul>
</nav>