<%
  var postTitle = '';
  var postDescription = '';

  var postTitleError = '';
  var postDescriptionError = '';

  if(typeof(er) != 'undefined')
  {
    for(var error of er)
    { 
      switch(error.param){
        case 'postTitle':       postTitle = error.value;
                                postTitleError = error.msg;
                                break;
        case 'postDescription': postDescription = error.value;
                                postDescriptionError = error.msg;
                                break;
      }
    }
  }
%>

<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <main>
        <h1>Create New Post</h1>
        <form  name="myform" action="create" method="POST" enctype="multipart/form-data">
          <div>
            <label for="postTitle">Title</label>
            <input type="text" id="postTitle" name="postTitle" value="<%= postTitle %>">
            <p class="error"><%= postTitleError %></p>
          </div>
          
          <div>
            <label for="postDescription">Caption</label>
            <input type="text" id="postDescription" name="postDescription">
            <p class="error"><%= postDescriptionError %></p>
          </div>

          <div>
            <label for="postImage">Post Image</label>
            <input type="file" id="postImage" name="postImage">
          </div>

          <div>
            <input type="submit" value="Create Post">
          </div>
        </form>
    
      </main>
<div class="clear"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="js/tinymce/jquery.tinymce.min.js"></script>
  <script src="js/tinymce/tinymce.min.js"></script>

  <script>
    tinymce.init({
        selector: '#postDescription',
        height: 500,
        menubar: false
    });
  </script>
</body>
<%- include('layouts/footer'); -%>
