<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <section>
        <h4>All Orders</h4>
        <table border="2px">
            <thead>
                <th>Nme</th>
                <th>Phone</th>
                <th>Mango Juice</th>
                <th>Berry Juice</th>
                <th>Apple Juice</th>
                <th>Sub Total</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Manage</th>

                <th>Delete</th>
            </thead>
            <tbody>
                <%
                for(var orderform of orderforms)
                    {
                %>
                <tr>
                    <td><%= orderform.name %></td>
                    <td><%= orderform.phone %></td>
                    <td><%= orderform.mango %></td>
                    <td><%= orderform.berry %></td>
                    <td><%= orderform.apple %></td>
                    <td><%= orderform.subtotal %></td>
                    <td><%= orderform.tax %></td>
                    <td><%= orderform.total %></td>
                    <td><a href="/delete/<%= orderform._id %>">Delete</a></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </table>
    </section>
</body>
<%- include('layouts/footer'); -%>
