<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
    <h1>Thank you for your order!</h1>
    <br>
    <h2>Here are your order details:</h2>
    <section>
        <div>        
          <table style="float: left;">
            <tr>
              <th>Name: </th>
              <td><%= name %></td>
            </tr>
            <tr>
              <th>Phone: </th>
              <td><%- phone %></td>
            </tr>
            <tr>
              <th>Total Mango Juices = </th>
              <td><%- mangoJuices %></td>
            </tr>
            <tr>
              <th>Total Berry Juices = </th>
              <td><%- berryJuices %></td>
            </tr>
            <tr>
              <th>Total Apple Juices: </th>
              <td><%- phoneJuices %></td>
            </tr>
            <tr>
              <th>Sub Total = </th>
              <td><%- subtotal %></td>
            </tr>
            <tr>
              <th>Tax = </th>
              <td><%- tax %></td>
            </tr>
            <tr>
              <th>Total cost = </th>
              <td><%- total %></td>
            </tr>
          </table>
          <div class="clear"></div>

        </div>
  </section>  
</body>
<%- include('layouts/footer'); -%>