<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <section >
  <div class="formData">

    <p id="formResult">Post Updated Sucessfully...!</p>
    <table style="float: left;">
        <tr>
          <th>Title: </th>
          <td><%= pageData.postTitle %></td>
        </tr>
        <tr>
          <th>Caption: </th>
          <td><%= pageData.postDescription %></td>
        </tr>
      </table>

      <img src="/uploads/<%= pageData.postImageName %>" alt="<%= pageData.postTitle %>" style="width:80px; float: right;">
      <div class="clear"></div>    
  </div>
</section>
</body>
<%- include('layouts/footer'); -%>