<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/nav'); -%>
    <h1>Welcome to SocioMedia</h1>
    <%- include('layouts/dynamicNav'); -%>
    <img src="images/icon.jpg"/>
<div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>
