<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/nav'); -%>
  <section>
    <form name="myform" method="Post" action="" >
      <label>Username</label>
      <input id="username" type="text" name="username"><br/>

      <label>Password</label>
      <input id="password" type="password" name="password"><br/>
      
      <br/><br/>

      <input type="submit" value="Sign In">                    
      <p id="errors">
        <%
          if (typeof (error) !== 'undefined')
          {
            %>
            <%= error %>
            <%
          }
        %>
      </p>
    </form>  
</section>
</body>
<%- include('layouts/footer'); -%>