body{
    background-color: #7cdbd3;
    font-family: 'Milkshake', cursive;
    font-size: 20px;
    width: 960px;
    margin: 50px auto;
}
h1{
    text-align: center;
}
.w50{
    width: 48%;
    float: left;
    margin: 1%;
}
.clear{
    clear: both;
}
#errors{
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;

}
form, .formData{
    width: 380px;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: white;
    background-color: #219296;
    border-radius: 20px;
}
label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: white;
}
input:not([type="radio"]), select{
    font-size: 16px;
    font-family: 'Kalam', cursive;
    padding: 5px 10px;
}
input:not([type="radio"]){
    width: 170px;
    height: 30px;
    margin-bottom: 10px;
}
select{
    width: 190px;
    margin-top: 10px;
}
input[type="submit"]{
    width: 100%;
    font-size: 22px;
    background-color: #aaaf5b;
    color: white;
    font-family: 'Milkshake', cursive;
    border: 0px;
    padding: 10px;
    height: 50px;
    box-shadow: 4px 4px 0px #3c3d25;
    border-radius: 8px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px #9ba15e;
}

.top_menu{
    background-color: #034e4e;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
}

#dynamicNav{
    background-color: #1a6666;
    border: 2px dotted white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
}

footer{
    background-color: #0b3f3f;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.top_menu ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.top_menu ul li{
    display: inline-block;
    width: 130px;
}

.top_menu ul li:hover{
    background-color: #07b22c;
}
.top_menu ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

#dynamicNav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
}

#dynamicNav ul li{
    display: inline-block;
    width: 130px;
}

#dynamicNav ul li:hover{
    background-color: #11741a;
}
#dynamicNav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
    margin: 20px auto;
    color:white;
}

td, th {
    border: 2px solid white;
    padding: 5px 4px;
}

th {
    font-weight: bold;
}